@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
body {
    background: #F6F6F9E5;
    overflow-x: hidden;
}
.body_hidden {
    overflow: hidden;
}
.header {
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__container {
    padding-top: 46px;
}
.first-line__header {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
}
.mobile-header {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    background: white;
    padding-top: 30px;
    transition: .5s;
}

.mobile-header-open {
    left: 0;
}

.mobile__header-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile__logo-block .header__logo img {
    width: 170px;
    height: 52px;
    object-fit: cover;
}

.mobile-header-close {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.mobile__header_menu {
    padding-top: 56px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.mobile__header_menu-item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #212864;
}

.mobile__header_about {
    display: flex;
    flex-direction: column;
    padding-top: 19px;
}

.mobile__header_about-item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 18px;
}

.mobile__header_about-item:nth-child(2) {
    margin-bottom: 0;
}

.mobile__header_about-number {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #212864;
    margin-bottom: 9px;
}

.mobile__all-icons__header {
    padding-top: 12px;
}

.logo-block {
    display: flex;
    flex-direction: column;
}
.header__name {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}
.header__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.8);
}
.burger-menu {
    display: none;
}
.sim__header {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #212864;
}
.order-block > button {
    width: 200px;
    height: 42px;
    border: 1px solid #212864;
    border-radius: 25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    background: none;
    transition: 1s;
}

.order-block > button:hover {
    transform: scale(1.1);
}
.order-block {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.header__menu__open {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.all-icons__header {
    display: flex;
    justify-content: space-around;
}

.adress-number-block {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

/* Second header container */
.header__sec-container {
    margin-top: 18px;
    height: 57px;
    background: #15193D;
    padding-top: 18px
}

.header__menu {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    justify-content: space-around;
}

.header__menu > li:hover {
    transition: 1s;
    transform: translate(20px);
}

/* Third header container */
.header__third-container {
    height: 45px;
    background: #8C93D1;
    padding-top: 13px;
}
/* 1st section */
.item{
    width: 100%;
    background: url('../icons/Rectangle\ 695.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.item__pwd{
    display: flex;
    column-gap: 12px;
    padding-top: 37px;
}
.pwd_paragraph{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.8);
}
.item__description{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.description__title{
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    color: #000000;
}
.description__subtitle{
    font-weight: 400;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: rgba(32, 32, 32, 0.8);
}
.item__button{
    background: #536FA4;
    border-radius: 20px;
    max-width: 437px;
    width: 100%;
    height: 134px;
    transition: 0.5s; 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 122px;  
}
.item__button:hover{
    transform: scale(1.1);
}
.button__title{
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    width: 276px;
}
.item__button > button{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 62px;
    height: 62px;
    border: none;
    transition: 1s;
}
.item__button > button:hover{
    transform: scale(1.2);
}
.item__text{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.item__container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 96px;
}
/* 2nd section */
.map{
    width: 100%;
    background: #FFFFFF;
}
.map__yandex{
    border: 3px solid #435D8F;
    border-radius: 20px;
}
.map__container{
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    padding-bottom: 84px;
}
.map__title{
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #000000;
    padding-top: 64px;
}
.map__subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(32, 32, 32, 0.8);
    width: 1100px;
}
.map__calculate{
    background: #435D8F;
    border-radius: 20px;
    width: 1201px;
    height: 124px; 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.map__distance{
    display: flex;
}
.map__distance > h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.map__distance > h1 > input{
    background: none;
    border-width: 0px 0px 2px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 150px;
}
.map__price > h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.map__calculate > button{
    background: #FFFFFF;
    border-radius: 30px;
    color: #212864;
    border: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    width: 150px;
    height: 50px;
    transition: 1s;
}
.map__calculate > button:hover{
    transform: scale(1.2);
}
/* 3rd section */
.test{
    width: 100%;
    background: #F1F1F6;
}
.test__title{
    padding-top: 86px;
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    color: #000000;
    width: 100%;
}
.test__subtitle{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #536FA4;
}
.test__text{
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}
.text__string{
    display: flex;
    column-gap: 22px;
}
.text__paragraph{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #212864;
}
.test__example{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #212864;
}
.test__images{
    display: flex;
    justify-content: space-around;
}
.test__img{
    width: 100%;
    height: auto;
}
.test__img:hover{
    transform: scale(1.1);
    transition: 1s;
}
.test__container{
    display: flex;
    flex-direction: column;
    row-gap: 31px;
}
.img__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    padding-bottom: 105px;
}
/* 4th section */
.area{
    width: 100%;
    background: #435D8F;
}
.area__title{
    padding-top: 64px;
    font-weight: bolder;
    width: 659px;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.area__in{
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.area__subtitle{
    width: 691px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}
.area__forms > input{
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 374.56px;
    height: 70px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #212864;
    padding-left: 45px;
    transition: 1s;
}
.area__forms > input:hover{
    transform: scale(1.2);
}
.area__forms{
    display: flex;
    justify-content: space-around;
}
.area__inputs > input{
    background: #FFC239;
    border-radius: 30px;
    width: 300px;
    height: 65px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #212864;
    border:  none;
    transition: 1s;
}
.area__inputs > input:hover{
    transform:  scale(1.2);
}
.area__inputs{
    padding-bottom: 137px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}
.area__container{
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}
/* footer */
.footer{
    width: 100%;
    background: #22242E;
}
.footer__container{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}
.column{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}
.item__column{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.subtitle__column{
    padding-top: 11px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    width: 118px;
}
.buttons-in-footer > button{
    border: 1px solid #FFC239;
    border-radius: 37px;    
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    background: none;
    width: 250px;
    height: 74px;
    transition: 1s;
}
.buttons-in-footer > button:hover{
    background: yellow;
    transform: scale(1.2);
}
.title__calculator{
    width: 205px
}
.buttons-in-footer{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
@media(max-width: 992px){
    .map__container{
        display: none;
    }
    .area__container{
        display: none;
    }
    .test__images{
        display: flex;
        flex-direction: column;
    }
    .item__image{
        display: none;
    }
    .item__pwd{
        display: none;
    }
    .description__title{
        padding-left: 50px;
        font-size: 20px;
    }
    .description__subtitle{
        padding-left: 50px;
    }
}
@media(max-width: 509px){
    .test__img{
        display: none;
    }
    .img__title{
        display: none;
    }
}
@media(max-width: 309px){
    .test__title{
        display: none;
    }
}
@media(max-width: 498px){
    .item__button{
        display: none;
    }
}